<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.startup.documents.private.backup</string>
    <key>Program</key>
    <string>/Users/seber/.dotfiles/scripts/startup/backup-documents-private</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/backup.document.private.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/backup.document.private.out</string>
  </dict>
</plist>
